
@{
    ViewData["Title"] = "FeverCheck";
}

<h1>FeverCheck</h1>

@if (ViewBag.outputMessage != null)
{
<h3>@ViewBag.outputMessage</h3>
}

<form asp-action="FeverCheck" method="post">
    <label for="degresCelsius">Input your body temperature in degrees celsius</label>
    <input type="number" id="degresCelsius" name="degresCelsius" value="37" />

    <input type="submit" value="Check your status" />
</form>
